### Exercise: energy consumption in building vs outside air temperature
The data provided in `buildingoat.csv` uses a dataset to model the Power of a building using the Outdoor Air Temperature (OAT) as an explanatory variable.  The **power** (Dutch: Vermogen), expressed in Watt (W),  of a building is a measure for the instantaneous energy comsumption.  Compare it to a light bulb of 10 W: if it is used for one hour it consumes 10 Wh (or 0.01 kWh) of electricity. On your electrity bill you are charged per kWh. Similarly, the power of a building in this exercise determines the energy consumption for heating.  A power of 160 kW (at a given outside temperature and a required inside temperature, which may vary during the day and week) means the building "looses" 160 kWh of heat energy per hour, which has to be provided by the heating installation to ensure a constant inside temperature.
  
Solve each subquestion in one cell.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import buildingoat.csv. Show the first 5 records

url = 'https://raw.githubusercontent.com/jdecorte/machinelearning/main/datasets/buildingoat.csv'
data = pd.read_csv(url)
data.head()

       Timestamp  OAT (F)  Power (kW)
0  1/1/2010 1:15       51       165.1
1  1/1/2010 1:30       51       151.6
2  1/1/2010 1:45       51       146.9
3  1/1/2010 2:00       51       153.7
4  1/1/2010 2:15       51       153.8

In [ ]:
# Convert the type of Timestamp from 'object' to 'datetime'. This will change the format of Timestamp
data['Timestamp'] = pd.to_datetime(data['Timestamp'], format='%m/%d/%Y %H:%M')
data.head()

            Timestamp  OAT (F)  Power (kW)
0 2010-01-01 01:15:00       51       165.1
1 2010-01-01 01:30:00       51       151.6
2 2010-01-01 01:45:00       51       146.9
3 2010-01-01 02:00:00       51       153.7
4 2010-01-01 02:15:00       51       153.8

The temperature is expressed in degrees Fahrenheit (°F), which is used in the US. We can convert Fahrenheit to Celcius using the formula 

$°C = \frac{°F - 32}{1.8}$

Convert all values °F to °C.

In [ ]:
# Convert the type of 'Timestamp' to String
data['Timestamp'] = data['Timestamp'].astype(str)
data.head()

             Timestamp  OAT (F)  Power (kW)
0  2010-01-01 01:15:00       51       165.1
1  2010-01-01 01:30:00       51       151.6
2  2010-01-01 01:45:00       51       146.9
3  2010-01-01 02:00:00       51       153.7
4  2010-01-01 02:15:00       51       153.8

In [ ]:
# Give the dimensions of the dataset

In [ ]:
# Drop the rows that have columns with no available data

In [ ]:
# Give the new dimensions of the dataset

In [ ]:
# Give the statistics of the dataset

In [ ]:
# You can see that the minimum value of Power (kW) is 0.0
# Calculate the mean and the standard deviation for Power (kW)

In [ ]:
# The 68-95-99.7 - rule in mind: drop all values that are more than 3 standard deviations from the mean
# This is a popular way of removing outliers from the dataset, which are often bad registrations.

In [ ]:
# Give the new dimensions of the dataset

In [ ]:
# Plot the Power (kW) versus the OAT (F)

In [ ]:
# The Power is highly dependent on the month of the year, the day of the week and the time of the day
# We will use this information to incorporate it into our regression model.
# Add an extra column Month. The month has the integer value of the month (e.g. not 01, but 1)

In [ ]:
# Add an extra column Day. The day has the integer value of the day (e.g. not 01, but 1)

In [ ]:
# Add an extra column Hour. The Hour has the integer value of the hour (e.g. not 01, but 1)

In [ ]:
# Select the data of 1 specific day (e.g. 2010-03-04)

In [ ]:
# Plot for that day the OAT (C) versus the Hour of day

In [ ]:
# Plot the Power (kW) versus the Hour of day
# This clearly illustrates people require less heating at night.

In [ ]:
# Use RandomForestRegressor to predict the Power (kW)
# find the optimal number of trees based on MAE

In [ ]:
# Use Multiple Polynomial Regression to predict the Power (kW) 
# Find the optimal polynomial degree based on MAE
# Compare the MAE to Random Forest